<!-- reusable post html -->
<div class="post">
    <div class="post-header">
        Posted by
        <span><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
        <span> to <a href="{% url 'groups:single' slug=post.group.slug %}">{{ post.group }}</a> group</span>
    </div>
    <div class="post-content">{{ post.message_html|safe }}</div>

    <div class="post-picture"><img src="/media/{{ post.post_picture }}" alt="post-picture"/></div>
    <div class="time">On: {{ post.created_at }}</div>

    <div class="post-owner-actions">
        {% if user.is_authenticated and post.user == user %}
            <a class="btn btn-post" href="{% url 'posts:delete' pk=post.pk %}" title="delete">Delete</a>
            <a class="btn btn-post" href="{% url 'posts:update' pk=post.pk %}" title="update">Update</a>

        {% endif %}
    </div>
</div>
