<!-- extend base -->
{% extends 'base.html' %}

<!-- load bootstrap for styling form -->
{% load bootstrap4 %}

<!-- load static for images and styles -->
{% load static %}

<!-- block content begins here -->
{% block content %}

    <div id="page-content" class="container bg-light">
        <div id="page-logo">
            <img
                    src="{% static 'images/juntos-name-logo.png' %}"
                    alt="page logo"
                    height="65"
            />
        </div>
        <h1 class="animate__animated animate__fadeInLeft">Login</h1>
        <form id="login-form" method="POST">
            {% csrf_token %} {% bootstrap_form form %}

            <input class="btn btn-default" type="submit" name="" value="Login"/>
        </form>
    </div>

    <!-- end of block content -->
{% endblock %}
