<!-- extending base.html -->
{% extends 'base.html' %}

<!-- loading static for styles and images -->
{% load static %}

<!-- loading bootstrap for form style -->
{% load bootstrap4 %}

<!-- block content begins here -->
{% block content %}

    <div id="page-content" class="container bg-light">
        <div id="page-logo">
            <img src="{% static 'images/juntos-name-logo.png' %}" alt="page logo" height="65"/>
        </div>
        <h1 class="animate__animated animate__fadeInLeft">Sign Up</h1>
        <form method="POST" enctype="multipart/form-data" id="signup-form">
            {% csrf_token %} {% bootstrap_form form %}

            <input class="btn btn-default" type="submit" name="" value="Sign Up" />
        </form>
    </div>
    <!-- end of block content -->
{% endblock %}